:root {
    --black: #0F0F0F;
    --blue: #355C7D;
    --white: #D6E6F2;
    --grey: #364F6B;
    --pink: #FC5185;
    --green: #046582;
}

html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}
