.heading{
    padding-top: 3rem;
    text-align: center;
    letter-spacing: 0.5rem;
    font-weight: bold;
    color: var(--black);
}

.form{
    margin-top: 2rem;
}

.input{
    margin: 1rem;
    width: 50%;
}

input{
    margin-bottom: 1.5rem;
}

.form a{
    color: var(--black);
    margin-top: 0.5rem;
}