.product-list-heading{
    text-align: center;
    padding: 1rem;
}

.product-list-title{
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

#price-filter-label-min{
    flex-basis: 50%;
}

.category-list a{
    height: 2.5rem;
    background-color: var(--white);
    text-decoration: none;
    color: black;
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid var(--grey);
}

.category-list a:last-child{
    border-bottom: none;
}

.category-list a:hover{
    background-color: var(--blue);
}

.clear-filter{
    margin-top: 1rem;
}